.word input{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 5px;
    background: rgb(91, 154, 226);
    text-align: center;
    color: black;
    font-size: 30px;
  }
  body {
    background-color: rgb(107, 235, 149);
  }